# DB_ENGINE='django.db.backends.mssql'
# # database = 'BDSGTM01'
# DB_NAME = 'BDSGTM01'
# DB_USER = 'ApiSGTM'
# DB_PASS = '29y^w!F^Z&30dp#'
# DB_HOST = '192.168.1.33'


# # test
DB_ENGINE_TEST='mssql'
DB_NAME_TEST=''
DB_USER_TEST=''
DB_PASS_TEST=''
DB_HOST_TEST=''
DB_PORT_TEST='1433'


# # real
DB_ENGINE='mssql'
DB_NAME=''
DB_USER=''
DB_PASS=''
DB_HOST=''
DB_PORT='1433'



API_KEY=''
API_USR=''
API_PSS=''
CIPHER_KEY=''

TUNNEL=''
DOMAIN=''
